## gitchangelog
## see https://github.com/vaab/gitchangelog/blob/master/src/gitchangelog/gitchangelog.rc.reference
## to use this file `git config --local gitchangelog.rc-path project/gitchangelog.rc`

section_regexps = [
    ('New', [
        r'^[nN]ew\s*:\s*((dev|use?r|pkg|test|doc)\s*:\s*)?([^\n]*)$',
     ]),
    ('Changes', [
        r'^[cC]hg\s*:\s*((dev|use?r|pkg|test|doc)\s*:\s*)?([^\n]*)$',
     ]),
    ('Fixes', [
        r'^[fF]ix\s*:\s*((dev|use?r|pkg|test|doc)\s*:\s*)?([^\n]*)$',
     ]),

    ('Others', None ## Match all lines
     ),
]
unreleased_version_label = "Current version"
output_engine = mustache("./project/changelog.tpl")
include_merge = False